{:mvn/repos
 {"my.datomic.com" {:url "https://my.datomic.com/repo"}}
 
 
 :deps
 
 {enlive {:mvn/version "1.1.6"}
 ;; incanter {:mvn/version  "1.5.4"}
  com.datomic/datomic-pro {:mvn/version "0.9.5786"}}
 }
